*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: cover;
}
.phraseContainer {
  background-color: azure;
  max-width: 400px;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 3px rgb(49, 84, 138);
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.5s;
}
.phraseContainer:hover {
  transform: translateY(10px);
  transition: 0.5s;
}
.phraseContainer :nth-last-child(2) {
  font-weight: bold;
  padding-bottom: 20px;
}
h1 {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 800;
  color: rgb(187, 34, 34);
}
.btn {
  border-radius: 50%;
  font-size: 30px;
  padding: 10px;
  height: 60px;
  width: 60px;
  border: none;
  background-color: rgb(90, 181, 90);
  color: white;
  /* position: sticky; 
  top: 20%;*/
  margin-top: 0%;
  transition: 0.9s;
}
.btn:hover {
  box-shadow: 0px 0px 20px 3px rgb(49, 84, 138);
  transition: 0.9s;
  background-color: lightgreen;
  cursor: pointer;
  font-size: 40px;
  padding: 10px;
  height: 70px;
  width: 70px;
}
.btn:active {
  transform: rotate(360deg);
  transition: 0.4s;
}
@media only screen and (max-width: 600px) and (min-width: 320px) {
  .phraseContainer {
    max-width: 250px;
  }
}
